* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

a,
p,
label,
textarea {
  color: black;
}

a {
  text-decoration: none;
}

.title {
  font-size: 3.6rem;
}

.heading {
  font-size: 3.2rem;
}

.sub-heading {
  font-size: 2.8rem;
}

.text-large {
  font-size: 2.4rem;
}

.text-medium {
  font-size: 2rem;
}

.text-small {
  font-size: 1.6rem;
}

.text-extra-small {
  font-size: 1.2rem;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bolder;
}

input,
textarea {
  padding: 10px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
}

input:focus-visible {
  outline: none;
}

input:disabled,
textarea:disabled {
  cursor: not-allowed;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #008069;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.btn_secondary {
  background-color: gray;
  color: white;
}

.ant-drawer-header {
  background-color: #008069 !important;
}

.ant-drawer-title {
  color: white !important;
}

.ant-drawer-body {
  padding: 0px !important;
}
