.container {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.container_1 {
  min-height: 100vh;
  border-right: 1px solid rgb(221, 221, 221);
}

.container_2 {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}

.container_2_box_1 {
  background-color: #f0f2f5;
}

.container_2_box_2 {
  background-color: #eae6df;
}

.container_2_box_3 {
  padding: 20px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  align-items: center;
  background-color: #f0f2f5;
}

.message_input {
  border: none;
  padding: 15px;
  font-size: 16px;
}

.send_button {
  display: flex;
  justify-content: center;
}
