.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.input_controller,
.add_users,
.users {
  display: grid;
  gap: 5px;
}

.user {
  padding: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.user:hover {
  cursor: pointer;
}

.selected_user {
  background-color: #008069;
  border-radius: 5px;
}

.selected_user p {
  color: white;
}
